Question 1

In [ ]:
list1 = [1, 2, 3, 4]
sum_ofelements = sum(my_list)
print("The sum of the elements in the list is:",sum_ofelements)

The sum of the elements in the list is: 10

Question 2

In [ ]:
string=str(input("enter the string : "))
length=len(string)
half_length=length//2
print(string[0:half_length])

enter the string : i am studying python
i am study

Question 3

In [ ]:
oldtuple=(78,45,32,19,82,77,40,39)
oldlist=list(oldtuple)
oldlist[2]=100
newtuple=(oldlist)
print(newtuple)

[78, 45, 100, 19, 82, 77, 40, 39]

Question 4

In [ ]:
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
listA.remove(32)
print(listA)                                  #(a)
listA=[x for x in listA if x!=40]
print(listA)                                  #(b)
listA.remove(listA[5])
print(listA)                                  #(c)
listA[5]=300                                  # if i use 9th index i am getting an error so replacing it with 5
print(listA)                                  #(d)
listA.insert(2,200)                           #(e)
print(listA)                                  #(f)
print("Length of the list is : ",len(listA))
print("Maximum value of the list is : ",max(listA))
print("Sum of the list is : ",sum(listA))

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]
[19, 10, 55, 31, 32, 29, 10, 65, 77]
[19, 10, 55, 31, 32, 300, 10, 65, 77]
[19, 10, 200, 55, 31, 32, 300, 10, 65, 77]
Length of the list is :  10
Maximum value of the list is :  300
Sum of the list is :  799

Question 4

In [39]:
txt=str('The day has been long')
txtnew=txt[:4]+txt[5:]
print(txtnew)                             #(a)
print("The day has been long "*4)         #(b)
print("The day has been long\n"*4)        #(c)
txtmod=txt[:7]+'A'+txt[8:]                #(d)
print(txtmod)
print(txtmod[4:16])                       #(e)
print(len(txtmod))                        #(f)

The ay has been long
The day has been long The day has been long The day has been long The day has been long
The day has been long
The day has been long
The day has been long
The day has been long

The dayAhas been long
dayAhas been
21